.img-container {
    background-image: url(/images/skyline.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    .custom-card {
        width: 40rem;
        background-color: rgba(26, 93, 111, 0.4);
        backdrop-filter: blur(120px); 
        border-radius: 25px;
    }
    .small-text {
    font-size: .85rem;
}
}


