//----Section 1-----//

.heading-section {
  background-image: url(/images/background.jpg);
}
.banner-image,
.banner-div {
  height: 250px;
}
.profile-img {
  width: 150px;
  height: 150px;
}
//Edit Profile Modal
.aspect-circle,
.aspect-square {
  background-color: #f0f0f0;
  border: 2px solid #142f42; 
}
.aspect-circle {
  width: 100px; 
  height: 100px; 
}
.aspect-square {
 height: 125px; 
 width: 90%;
}
//------Section 2-----//

.card-img-top-container {
  padding-top: 80%;
}
.card-body img {
  height: 50px;
  width: 50px;
}
