section{
    max-width: 85%;
}

.background-grey{
    background-color: #F8F9FA;
}

.comment{
    letter-spacing: 1px;
    line-height: 30px;
}

.comments-img{
    height: 50px;
    width: 50px;
}

.post-profile-image{
    height: 80px;
    width: 80px;
}

.post-title{
    font-size: 20px;
}

@media (max-width: 767px){
    .post-profile-image{
        height: 45px;
        width: 45px;
    }
}