//----Section 1 user info-----//

.banner-image,
.banner-div {
  height: 250px;
}
.profile-img {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

//Edit Profile Modal For My-Profile ONLY.
.aspect-circle,
.aspect-square {
  background-color: #f0f0f0;
  border: 2px solid #142f42; 
}
.aspect-circle {
  width: 100px; 
  height: 100px; 
}
.aspect-square {
 height: 125px; 
 width: 90%;
}
//hover for follow and following
.follow-container:hover {
  background-color: #f5f5f5;
}

//------Section 2 Posts from user-----//

.card-img-top-container {
  padding-top: 80%;
}
.small-profile-image {
  height: 50px;
  width: 50px;
}

//Overlay styles for post text on hover
.overlay-content {
  background: rgba(0, 0, 0, 0.5); 
  transition: all 0.5s ease; 
  opacity: 0; 
}

.card-container:hover .overlay-content {
  opacity: 1;
  display: flex; 
}
